@each $dimension in left, right, top, bottom {
      .u-padding-$(dimension)-halfx {
          padding-$(dimension): 0.5rem !important;
      }
}

:root {
  @each $dimension in left, right, top, bottom {
        --u-padding-$(dimension)-halfx {
            padding-$(dimension): 0.5rem !important;
        }
  }
}

@each $dimension in left, right, top, bottom {
    @for $factor from 0 to 20 {
        .u-padding-$(dimension)-$(factor)x {
            padding-$(dimension): $(factor)rem !important;
        }
    }
}

:root {
    @each $dimension in left, right, top, bottom {
        @for $factor from 0 to 20 {
            --u-padding-$(dimension)-$(factor)x {
                padding-$(dimension): $(factor)rem !important;
            }
        }
    }
}

.u-padding-halfx {
    padding: 0.5rem !important;
}

:root {
  --u-padding-halfx {
      padding: 0.5rem !important;
  }
}

@for $factor from 0 to 20 {
    .u-padding-$(factor)x {
        padding: $(factor)rem !important;
    }
}

:root {
  @for $factor from 0 to 20 {
      --u-padding-$(factor)x {
          padding: $(factor)rem !important;
      }
  }
}
