/** @define utilities */

@import "superfly-css-variables-dimension";

/**
 * Flex Container Level Utilities
 */

@media (--sm-viewport) {
    .u-sm-flex {
        display: flex !important;
    }
    .u-sm-inline-flex {
        display: inline-flex !important;
    }
    .u-sm-flex-row {
        flex-direction: row !important;
    }
    .u-sm-flex-row-reverse {
        flex-direction: row-reverse !important;
    }
    .u-sm-flex-column {
        flex-direction: column !important;
    }
    .u-sm-flex-column-reverse {
        flex-direction: column-reverse !important;
    }
    .u-sm-flex-wrap {
        flex-wrap: wrap !important;
    }
    .u-sm-flex-no-wrap {
        flex-wrap: nowrap !important;
    }
    .u-sm-flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }
    .u-sm-flex-justify-start {
        justify-content: flex-start !important;
    }
    .u-sm-flex-justify-end {
        justify-content: flex-end !important;
    }
    .u-sm-flex-justify-center {
        justify-content: center !important;
    }
    .u-sm-flex-justify-between {
        justify-content: space-between !important;
    }
    .u-sm-flex-justify-around {
        justify-content: space-around !important;
    }
    .u-sm-flex-align-items-start {
        align-items: flex-start !important;
    }
    .u-sm-flex-align-items-end {
        align-items: flex-end !important;
    }
    .u-sm-flex-align-items-center {
        align-items: center !important;
    }
    .u-sm-flex-align-items-stretch {
        align-items: stretch !important;
    }
    .u-sm-flex-align-items-base-line {
        align-items: baseline !important;
    }
    .u-sm-flex-align-content-start {
        align-content: flex-start !important;
    }
    .u-sm-flex-align-content-end {
        align-content: flex-end !important;
    }
    .u-sm-flex-align-content-center {
        align-content: center !important;
    }
    .u-sm-flex-align-content-stretch {
        align-content: stretch !important;
    }
    .u-sm-flexAlignContentBetween {
        align-content: space-between !important;
    }
    .u-sm-flexAlignContentAround {
        align-content: space-around !important;
    }
    /* Applies to flex items
   ========================================================================== */
    /**
 * Override default alignment of single item when specified by `align-items`
 */
    .u-sm-flex-align-self-start {
        align-self: flex-start !important;
    }
    .u-sm-flex-align-self-end {
        align-self: flex-end !important;
    }
    .u-sm-flex-align-self-center {
        align-self: center !important;
    }
    .u-sm-flex-align-self-stretch {
        align-self: stretch !important;
    }
    .u-sm-flex-align-self-baseline {
        align-self: baseline !important;
    }
    .u-sm-flex-align-self-auto {
        align-self: auto !important;
    }
    .u-sm-flex-order-first {
        order: -1 !important;
    }
    .u-sm-flex-order-last {
        order: 1 !important;
    }
    .u-sm-flex-order-none {
        order: 0 !important;
    }
    /**
 * Specify the flex grow factor, which determines how much the flex item will
 * grow relative to the rest of the flex items in the flex container.
 *
 * Supports 1-5 proportions
 *
 * 1. Provide all values to avoid IE10 bug with shorthand flex
 *    - http://git.io/vllC7
 *
 *    Use `0%` to avoid bug in IE10/11 with unitless flex basis. Using this
 *    instead of `auto` as this matches what the default would be with `flex`
 *    shorthand - http://git.io/vllWx
 */
    .u-sm-flex-grow1 {
        flex: 1 1 0% !important;
        /* 1 */
    }
    .u-sm-flex-grow2 {
        flex: 2 1 0% !important;
    }
    .u-sm-flex-grow3 {
        flex: 3 1 0% !important;
    }
    .u-sm-flex-grow4 {
        flex: 4 1 0% !important;
    }
    .u-sm-flex-grow5 {
        flex: 5 1 0% !important;
    }
    /**
 * Specify the flex shrink factor, which determines how much the flex item will
 * shrink relative to the rest of the flex items in the flex container.
 */
    .u-sm-flex-shrink0 {
        flex-shrink: 0 !important;
    }
    .u-sm-flex-shrink1 {
        flex-shrink: 1 !important;
    }
    .u-sm-flex-shrink2 {
        flex-shrink: 2 !important;
    }
    .u-sm-flex-shrink3 {
        flex-shrink: 3 !important;
    }
    .u-sm-flex-shrink4 {
        flex-shrink: 4 !important;
    }
    .u-sm-flex-shrink5 {
        flex-shrink: 5 !important;
    }
    /**
 * Aligning with `auto` margins
 * http://www.w3.org/TR/css-flexbox-1/#auto-margins
 */
    .u-sm-flex-expand {
        margin: auto !important;
    }
    .u-sm-flex-expand-left {
        margin-left: auto !important;
    }
    .u-sm-flex-expand-right {
        margin-right: auto !important;
    }
    .u-sm-flex-expand-top {
        margin-top: auto !important;
    }
    .u-sm-flex-expand-bottom {
        margin-bottom: auto !important;
    }
    /**
 * Basis
 */
    .u-sm-flex-basis-auto {
        flex-basis: auto !important;
    }
    .u-sm-flex-basis0 {
        flex-basis: 0 !important;
    }
    /*
 * Shorthand
 *
 * Declares all values instead of keywords like 'initial' to work around IE10
 * https://www.w3.org/TR/css-flexbox-1/#flex-common
 *
 * 1. Fixes issue in IE 10 where flex-basis is ignored - https://git.io/vllMt
 *    This ensures it overrides flex-basis set in other utilities.
 */
    /*
 * Sizes the item based on the width/height properties
 */
    .u-sm-flex-initial {
        flex: 0 1 auto !important;
        flex-basis: auto !important;
        /* 1 */
    }
    /*
 * Sizes the item based on the width/height properties, but makes them fully
 * flexible, so that they absorb any free space along the main axis.
 */
    .u-sm-flex-auto {
        flex: 1 1 auto !important;
        flex-basis: auto !important;
        /* 1 */
    }
    /*
 * Sizes the item according to the width/height properties, but makes the flex
 * item fully inflexible. Similar to initial, except that flex items are
 * not allowed to shrink, even in overflow situations.
 */
    .u-sm-flex-none {
        flex: 0 0 auto !important;
        flex-basis: auto !important;
        /* 1 */
    }
}
